<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.EmployeeMapper">
	<resultMap id="BaseResultMap"
		type="com.demo.entity.Employee">
		<id column="employee_id" property="employeeId" jdbcType="INTEGER" />
		<result column="employee_login_name"
			property="employeeLoginName" jdbcType="VARCHAR" />
		<result column="employee_login_password"
			property="employeeLoginPassword" jdbcType="VARCHAR" />
		<result column="employee_nick_name" property="employeeNickName"
			jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="department_id" property="departmentId"
			jdbcType="INTEGER" />
		<result column="job_id" property="jobId" jdbcType="INTEGER" />
		<result column="employee_status" property="employeeStatus"
			jdbcType="BIT" />
	</resultMap>

    <select id="getEmployee" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	select * from employee where employee_id = #{employeeId,jdbcType=INTEGER}
	</select>
	<select id="getEmployees" resultMap="BaseResultMap">
	select * from employee
	</select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="employee.id">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employee.employeeLoginName != null">`employeeLogin_name`,</if>
            <if test="employee.employeeLoginPassword != null">`employeeLogin_password`,</if>
            <if test="employee.employeeNickName != null">`employeeNick_name`,</if>
            <if test="employee.roleId != null">`role_id`,</if>
            <if test="employee.departmentId != null">`department_id`,</if>
            <if test="employee.jobId != null">`job_id`,</if>
            <if test="employee.employeeStatus != null">`employee_status`,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="employee.employeeLoginName != null">#{employee.employeeLoginName},</if>
            <if test="employee.employeeLoginPassword != null">#{employee.employeeLoginPassword},</if>
            <if test="employee.employeeNickName != null">#{employee.employeeNickName},</if>
            <if test="employee.roleId != null">#{employee.roleId},</if>
            <if test="employee.departmentId != null">#{employee.departmentId},</if>
            <if test="employee.jobId != null">#{employee.jobId},</if>
            <if test="employee.employeeStatus != null">#{employee.employeeStatus},</if>
        </trim>
    </insert>
</mapper>